{% extends 'base.html' %}

{% block header %}
head>
  <meta charset="UTF-8">
  <title>customers</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='Main.css') }}">

</head>
{% endblock %}

{% block content %}
  <h4>Current customers:</h4>
  <table>
    <thead>
      <th>id_customer</th>
      <th>First name</th>
      <th>Last Name</th>
    </thead>
    <tbody>
      {% for customer in customers %}
        <tr>
          <td>{{customer[0]}}</td>
          <td>{{customer[1]}}</td>
          <td>{{customer[2]}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h4>Add/Update a customer:</h4>
  <form method="POST">
    <label>customer id:</label>
    <input type="number" name="costumer_id">

    <label>First Name:</label>
    <input type="text" name="first_name">

    <label>Last Name:</label>
    <input type="text" name="last_name">

    <button>Add/Update</button>

  </form>
  <h4>Remove a customer:</h4>
  <form method="POST" action="/customer/delete">
    <label>Id of Customer to remove:</label>
    <input type="text" name="id_customer">

    <button>Delete</button>
  </form>

{% endblock %}
